<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, autofocus: true, placeholder: "名前", class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :name, "ユーザーネーム" %>
            <%= f.text_field :user_name, autofocus: true, placeholder: "ユーザーネーム", class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :name, "ウェブサイト" %>
            <%= f.text_field :website_url, autofocus: true, placeholder: "ウェブサイト", class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :name, "自己紹介" %>
            <%= f.text_area :profile_text, autofocus: true, placeholder: "自己紹介", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :name, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :name, "電話番号" %>
            <%= f.text_field :tell, autofocus: true, placeholder: "電話番号", class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label :name, "性別" %>
            <%= f.text_field :sex, autofocus: true, placeholder: "性別", class: "form-control" %>
          </div>
  
          <%= f.submit "変更する", class: "btn btn-primary" %>
        <% end %>
        
        <%= link_to "アカウント削除ボタンになる予定", "#", class: "btn btn-danger" %>
        <%= link_to "パスワード変更リンクになる予定", "#", class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>