<div class="container profile-wrap">
  <div class="row mb-3 text-center">
    <div class="col-md-4 ">
      <%= image_tag avatar_url(@user), class: "round-img" %>
    </div>
    <div class="col-md-8">
      <div class="row p-2 justify-content-center justify-content-md-start">
        <h1><%= @user.user_name %></h1>
        <% if @user == current_user %>
          <button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"></button>
        <% end %>
      </div>
      
      <div class="row p-2 justify-content-center justify-content-md-start">
        <div class="follow mr-3">
          <%= link_to following_user_path(@user.id) do %>
            <h5 style="color: black;"><%= @user.following.count %>フォロー</h5>
          <% end %>
        </div>
        <div class="follower mr-3">
          <%= link_to followers_user_path(@user.id) do %>
            <h5 style="color: black;"><span class="follow" id="follow-count"><%= render 'follow_count' %></span>フォロワー</h5>
          <% end %>
        </div>
      </div>
        
        <div>
          <%= render "follow_form" %>
        </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="list-group text-center">
                <%= link_to "プロフィールを編集", edit_user_registration_path, class: "list-group-item list-group-item-action" %>
                <%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
                <%= link_to "キャンセル", "#", class: "list-group-item list-group-item-action", "data-dismiss": "modal" %>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col-md text-center">
      <p>
        <%= @user.profile_text %>
      </p>
    </div>
  </div>
</div>

<div class="row px-3 ">
  <div class="col-md-12">
    投稿数:<%= @user.posts.count %>
  </div>
</div>

<%= render 'posts/post' %>

