<div class="main">
  <div class="card devise-card">
    <div class="form-wrap">
      <div class="form-group text-center">
        <h2 class="logo-img mx-auto"></h2>
        <p class="text-secondary">メールを送信します</p>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        
          <div class="form-group">
            <%= f.label :name, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, placeholder: "メールアドレス", class: "form-control" %>
          </div>
         
          <div class="actions">
            <%= f.submit "送信", class: "btn btn-primary w-100" %>
          </div>
        <% end %>
        
        <p class="devise-link">
          アカウントをお持ちでないですか？
          <br>
          <%= render "devise/shared/links" %>
        </p>
      </div>
    </div>
  </div>